body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 10px;
}

p {
    font-size: 20px;
    text-align: center;
}

nav {
    background-color: #57555532;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 7px;
    width: 40%;
    margin: 0 auto;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
} 

nav a:hover {
    text-decoration: underline;
}

.categorías {
    text-align: center;
    font-size: 28px;
    width: 55%;
    margin: 10px auto;
}

.categorías a {
    margin: 0 10px;
    color: #a3556f;
    text-decoration: none;
}

.categorías a:hover {
    text-decoration: underline;
    color: #852042;
}

.product-card {
    flex: 1 1 400px; 
    max-width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.formulario {
    max-width: 600px;
    margin: 25px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.formulario input,
.formulario button {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.formulario button {
    background-color: #a92246;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #770d29;
}

.formulario select {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 25px; 
    margin: 20px;
}

.product-card {
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.product-card img {
    width: 300px;   
    height: 400px;  
    object-fit: cover;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.product-card h2 {
    margin: 10px 0;
}

.product-card p {
    margin: 10px 0;
}

.product-card a {
    text-decoration: none;
    color: #bd1a46;
    font-size: 17px;
}

.product-card a:hover {
    text-decoration: underline;
}

.navBar {
    background-color: #bd1a46;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.navBar:hover {
    background-color: #770d29;
    text-decoration: none;
}

.dropbtn {
    background-color: #bd1a46;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d9d7d7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #770d29;
}

.editProduct {
    max-width: 600px;
    margin: 25px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.editProduct input,
.editProduct button {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
.editProduct button {
    background-color: #a92246;
    color: white;
    border: none;
    cursor: pointer;
}

.editProduct button:hover {
    background-color: #770d29;
}